{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "node": "current"
        },
        // "include": [
        //   "transform-es2015-classes"
        // ]
      }
    ],
    "@babel/preset-react"
  ]
}
