.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .ui.stacked.segment {
    &:after {
      display: none;
    }

    .ui.fluid.input {
      width: 100%;

      & > input {
        //Semantic started it!
        width: 100% !important;
      }
    }
  }
}
